<footer class="footer mt-5">
    <div class="container">
        <div class="row text-center text-md-start">
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card-body">
                    <div class="mb-3">
                        <h2>Mukati</h2>
                        <div class="border-bottom"></div>
                    </div>
                    <span class="card-text text-white parrafo">
                        Nuestra misión es transformar espacios interiores en ambientes funcionales, estéticamente
                        atractivos y personalizados, que reflejen la identidad y el estilo de vida de nuestros clientes.
                        Nos comprometemos a utilizar materiales de alta calidad y a aplicar técnicas innovadoras de
                        diseño, con un enfoque en la sostenibilidad y el bienestar.
                    </span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card-body">
                    <div class="mb-3">
                        <h2>Nosotros</h2>
                        <div class="border-bottom"></div>
                    </div>
                    <ul>
                        <li>Laura Melgarejo</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card-body">
                    <div class="mb-3">
                        <h2>Ubicación</h2>
                        <div class="border-bottom"></div>
                    </div>
                    <div id="map" class="map-container">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.5889046795383!2d-74.10630482379006!3d4.598077343560866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f99a099fa4d5b%3A0x2baf30c7152025da!2sBogot%C3%A1%2C%20Colombia!5e0!3m2!1ses!2sco!4v1667305179621!5m2!1ses!2sco"
                            width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card-body">
                    <div class="mb-3">
                        <h2>Contáctanos</h2>
                        <div class="border-bottom "></div>
                    </div>
                    <p class="text-white">Redes sociales</p>
                    <a href=" "> <img class="w-25 p-1" src="assets/img/facebook.png" alt=""></a>
                    <a href=" "> <img class="w-25  p-1" src="assets/img/instagram.png" alt=""></a>
                    <a href=" "> <img class="w-25 h-25 p-1" src="assets/img/social.png" alt=""></a>

                </div>
            </div>

        </div>
    </div>
</footer>
