<div class="card text-bg-dark border-0 rounded-0 imagen vh-100">
    <div class="d-flex flex-column justify-content-between h-100">
        <nav class="navbar navbar-expand-lg">

            <div class="container justify-content-between">
                <p class="titulo">Mu<span class="colorletrak">k</span>ati </p>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
                    <ul class="navbar-nav d-flex align-content-center gap-0 gap-md-4">
                        <li class="nav-item">
                            <a class="nav-link active text-white fs-5 fw-bold" aria-current="page" href="#asesorias">Asesorias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active text-white fs-5 fw-bold" aria-current="page" href="#asesorias">Proyectos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active text-white fs-5 fw-bold" aria-current="page" href="#footer">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active text-white fs-5 fw-bold" aria-current="page" href="#contacto">Contacto</a>
                        </li>
                    </ul>
                </div>


            </div>
        </nav>

        <div class="d-flex flex-column justify-content-between align-items-center h-75">
            <p class="titulo text-center px-3 py-5 mb-5">
                Transforma tus espacios con
                <br>
                Decoración y Remodelación
            </p>

            <a href="#contacto">
                <button class="fw-bold mt-5 mb-3" href="#contacto">Contáctanos</button>
            </a>
        </div>

    </div>
</div>
