<h3 class="mt-4 titulo text-center" id="asesorias">
    Conoce algunos de
    <span class=" ms-2 colorletrak">nuestros proyectos</span>
</h3>


<div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="assets/img/antes.webp" class=" h-100-img-top" alt="Imagen de la sala antes de la transformación">
                <div class="card-body bg-body-secondary rounded minimoh ">
                    <h5 class="card-title ">Antes | Before</h5>
                    <p class="card-text">Se puede ver el estado original de la sala, con un sofá de diseño clásico,
                        tapizado en un tejido de rayas con colores oscuros. El mobiliario refleja un estilo más
                        tradicional y muestra signos de desgaste debido al uso prolongado.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="assets/img/Despues.webp" class="card-img-top" alt="Imagen de la sala después de la transformación">
                <div class="card-body bg-body-secondary rounded minimoh">
                    <h5 class="card-title">Después | After</h5>
                    <p class="card-text">Se aprecia la transformación realizada. El sofá ha sido reemplazado por un
                        modelo más moderno y de líneas simples, tapizado en un tono claro que ilumina el espacio. La
                        nueva disposición y el cambio de textiles han logrado darle a la sala un aspecto más
                        contemporáneo, fresco y acogedor.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
        <div class="col">
            <div class="card">
                <img src="assets/img/decorar.webp" class="card-img-top" alt="Imagen remodelación">
                <div class="card-body bg-body-secondary rounded  minimok d-flex justify-content-center">
                    <h5 class="card-title">Decoración</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="assets/img/diseñointeriores.webp" class="card-img-top imagenh" alt="Imagen diseño de interiores">
                <div class="card-body bg-body-secondary rounded d-flex justify-content-center">
                    <h5 class="card-title">Diseño de interiores</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="assets/img/refacciones.webp" class="card-img-top imagenh" alt="Imagen Airbnb">
                <div class="card-body bg-body-secondary rounded d-flex justify-content-center">
                    <h5 class="card-title">Refacciones</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="assets/img/asesor.webp" class="card-img-top imagenh" alt="Imagen asesorías">
                <div class="card-body bg-body-secondary rounded d-flex justify-content-center">
                    <h5 class="card-title">Asesorías</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="assets/img/airbnb.webp" class="card-img-top imagenh" alt="Imagen modelado 3D">
                <div class="card-body bg-body-secondary rounded d-flex justify-content-center">
                    <h5 class="card-title">Airbnb</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="assets/img/comercial.webp" class="card-img-top imagenh" alt="Imagen inmuebles">
                <div class="card-body bg-body-secondary rounded d-flex justify-content-center">
                    <h5 class="card-title">Comercial</h5>
                </div>
            </div>
        </div>

    </div>

</div>

