

<div class="imagen p-0 p-md-2 mt-5" id="contacto">
    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-md-6 text-white">

                <h2 class="titulo mb-5">Mu<span class="colorletrak">k</span>ati | Design <br>¡Cotiza tu proyecto!</h2>

                <p class="fs-4">Empecemos a crear el espacio de tus sueños desde el Diseño de Interiores</p>

            </div>


            <div class="col-12 col-md-6">
                <form action="https://formsubmit.co/mukatidesign@gmail.com" method="POST" class="card-body formulario-contacto border-0 fs-6 fw-bold px-5">
                    <p class="d-flex justify-content-center fw-bold fs-2">Contáctanos</p>

                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control  border-black border-2" id="nombre" name="nombre" placeholder="Escribe tu nombre" required>
                    </div>
                    <div class="form-group mt-3">
                        <label for="email">Correo electrónico</label>
                        <input type="email" class="form-control  border-black  border-2" id="email" name="email" placeholder="Escribe tu correo electrónico" required>
                    </div>
                    <div class="form-group mt-3">
                        <label for="telefono">Teléfono</label>
                        <input type="text" class="form-control   border-black border-2" id="telefono" name="telefono" placeholder="Escribe tu teléfono" >
                    </div>
                    <div class="form-group mt-3">
                        <label for="proyecto">Cuéntanos más de tu proyecto</label>
                        <textarea class="form-control  border-black  border-2" id="proyecto" name="proyecto" rows="3" placeholder="Escribe un mensaje o cuéntanos sobre tu proyecto"></textarea>

                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="fw-bold mt-3 btn rounded-2 px-5 py-2">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>
