.formulario-contacto {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
}

.btn-enviar {
    background-color: #6b8e23;
    border: none;
    color: white;
}

.imagen {
    background-image: url('/assets/img/fondo.png');
    background-size: cover;
    background-position: center;
    padding: 20px;
}

.card {
    background: rgba(255, 255, 255, 0);
    /* Fondo semi-transparente */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.colorletrak {
    color: #59747b;
}


