:root {
    --colorletrak: #59747b;
}

.colorletrak {
    color: var(--colorletrak);
}

.bgcolorgris {
    background-color: var(--colorletrak);
}

.titulo {
    font-size: 2rem;
    font-weight: 800;
}

@media screen and (min-width: 768px) {
    .titulo {
        font-size: 3rem;
    }
}

